@import "../../../styles/variables.scss";

.my-swiper {
  :global {
    .swiper-button-next,
    .swiper-button-prev {
      color: black;
    }

    .swiper-pagination-bullet {
      z-index: 100;
      width: 40px;
      height: 12px;
      border: 1px solid #29557C;
      border-radius: 8px;
      background-color: white;
    }
    .swiper-pagination-bullet-active {
      border: none;
      background: linear-gradient($blueGradient);
    }
  }
}
