$black:#051D33;
$white: #FFFFFF;
$darkBlue: #29557C;
$blue: #0460A9;
$deepDarkBlue: #11314F;
$blueGradient: 90deg, #12395D, #2A577E;
$headerTitleIndigo: #12395D;
$headerTextIndigo: #1E0D38; 
$bonusAmountDarkBlue: #0C2B48;

$yellow: #FAC515;

$math-var: 1
